In [1]:
# Step 1: Import Libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [3]:
# Step 2: Load the Dataset
df = pd.read_csv('bank.csv')
print("Shape:", df.shape)
print("First 5 rows:")
display(df.head())

Shape: (11162, 17)
First 5 rows:

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [4]:
# Step 3: Check for Missing Values
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [5]:
# Step 4: Remove Duplicates (if any)
df = df.drop_duplicates()
print("\nShape after removing duplicates:", df.shape)

Shape after removing duplicates: (11162, 17)

In [7]:
# Step 5: Handle Categorical Columns (Convert to Numbers)
# Identify object columns
object_cols = df.select_dtypes(include='object').columns
print("\nCategorical Columns:", list(object_cols))
# Use LabelEncoder for each categorical column
le = LabelEncoder()
for col in object_cols:
    df[col] = le.fit_transform(df[col])

Categorical Columns: ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'deposit']

In [8]:
# Step 6: Check Data Types After Encoding
print("\nData types after encoding:")
print(df.dtypes)

Data types after encoding:
age          int64
job          int64
marital      int64
education    int64
default      int64
balance      int64
housing      int64
loan         int64
contact      int64
day          int64
month        int64
duration     int64
campaign     int64
pdays        int64
previous     int64
poutcome     int64
deposit      int64
dtype: object

In [10]:
# Step 7: Save Cleaned Data
df.to_csv('cleaned-dataset.csv', index=False)
print("\n✅ Cleaned dataset saved as 'cleaned-dataset.csv'")

✅ Cleaned dataset saved as 'cleaned-dataset.csv'